body {
	font-family: 'Sorts Mill Goudy';
	font-size: 2em;
	padding-bottom: 2em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato';
}

a {
	cursor: pointer;
}

.container {
	width: 800px;
}

.feed {
	padding: 1em;
	border: 1px solid #ccc;
	margin: 1em;
}

.feed h2 {
	text-transform: uppercase;
	cursor: pointer;
}

.input-group {
	padding: 1em;
}

.read {
	color: #cccccc
}

.read a {
	color: #ccc;
}

.item {
	margin-top: 2em;
}

.fa {
	margin-right: 10px;
}

.fa-refresh {
	cursor: pointer;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
}