body {
	font-family: 'Sorts Mill Goudy';
	font-size: 2em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato';
}

.container {
	width: 800px;
}

.feed {
	padding: 1em 0 1em 0;
	margin-bottom: 2em;
}

.feed h2 {
	padding-bottom: 10px;
	text-transform: uppercase;
	border-bottom: 5px solid #000;
	cursor: pointer;
}

.unread {
	font-size: 2em;
	color: #cccccc;
}

.item {
	margin-top: 2em;
}

.fa-rss {
	margin-right: 10px;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
}