<h1 class="text-center" ng-click="update()"><i class="fa fa-refresh" ng-class="{'fa-spin': loading}"></i>Simply RSS</h1>

<div class="alert alert-danger">Oops! Something went wrong when adding the feed. Does it already exists?</div>
<div>
  <form ng-submit="addFeed()">
    <div class="input-group">
      <input ng-model="url" type="text" name="url" class="form-control" required>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Add feed!</button>
      </span>
    </div>
  </form>
</div>

<div class="feed" ng-repeat="feed in feeds">
  <span class="delete" ng-click="delete($index)"><i class="fa fa-times fa-2x"></i></span>
  <h2 ng-click="feed.Items.IsVisible = !feed.Items.IsVisible" ><i class="fa fa-rss fa-1x"></i>{{feed.Title}}</h2>
  <ul class="items" ng-show="feed.Items.IsVisible">
    <li class="item" ng-class="{'read': item.Read}" ng-repeat="item in feed.Items">
      <div>
      <a ng-click="markUnread(item.Link, $parent.$index, $index)">{{item.Title}}</a>
      <p>{{item.Content}}</p>
      <span>{{item.Date | date: 'dd.MM.yyyy HH:mm'}}</span>
      <div>
    </li>
  </ul>
</div>



